.columns-container {
    background: none; 
    position:relative;
    z-index:1;
}
.footer-container{
    position:relative;
    z-index: 2;
    background-image: none;
    background: #333333;
}
@media (min-width: 768px) {
    #home-page-tabs {
        margin: 0; }} 
@media (min-width: 768px) {
 #home-page-tabs > li:first-child {
        margin: 0 0px 0 1px;
        padding: 0 0px 0 1px; } }
.footer-container #footer ul li a{
    text-shadow: none;
}
.shopping_cart > a:first-child{
    text-shadow: none;
}
#contact-link a{
    text-shadow: none;
}
ul.product_list.list > li .product-image-container{
    background:white;
}
#subcategories ul li .subcategory-image{
    margin: 0 0 8px 0;
    background: white;
    padding:0;
}
ul.product_list.grid > li .product-container .product-image-container{
    border:none;
}
.block .title_block:first-child, .block h4:first-child{
    margin-top:0;
}
.button.button-small{
    text-shadow: none;
}
.breadcrumb{
    line-height:25px;
}
.breadcrumb a.home{
    margin:0 0 0 -11px;
}
#facebook_block, #cmsinfo_block{
    min-height:355px;
}
ul.product_list .color-list-container ul li a{
    margin:0;
}
#attributes .attribute_list #color_to_pick_list li{
    padding:0;
}
ul.product_list.grid > li .product-container .product-image-container .content_price{
    background:black;
}
.price-percent-reduction{
    color:white !important;
}
#my-account div ul.myaccount-link-list li a i{
    border:none;
}
#my-account div ul.myaccount-link-list li a span{
    border:none;
}
#my-account div ul.myaccount-link-list li a{
    text-shadow: none;
}
ul.step li a, ul.step li span, ul.step li.step_current span, ul.step li.step_current_end span{
    text-shadow: none;
}
ul.step li.step_current span:after{
    background:none;
}
ul.step li.step_todo span:after{
    background: none;
}
ul.step li.step_done.step_done_last a:after{
    background: none;
}
ul.step li.step_done a:after{
    background: none;
}
ul.step li.step_todo span{
    padding-left:15px;
}
ul.step li.step_todo span, ul.step li.step_current span{
    border:none;
}
ul.step li.step_done a{
    border:none;
}
div .box-info-product .exclusive:before, .box-info-product .exclusive span{
    border: none !important;
    text-shadow: none !important;
}
.columns-container .button.lnk_view span{
    border:none !important;
}
.columns-container .button.button-medium span{
    border:none !important;
}
.columns-container .button.button-small span{
    border:none !important;
}
ul.step li a{
    text-shadow: none !important;
}
.box-security{
    background:none;
}
.box-info-product .exclusive span{
    text-shadow: none;
}
.button.lnk_view{
    text-shadow: none;
}
.btn.button-plus span, .btn.button-minus span{
    border:none;
    background: none;
}
.box-info-product .exclusive:after{
    background:none !important;
}
.box-info-product .exclusive:before{
    text-shadow: none;
}
.box-info-product .exclusive span{
    border:none;
}
.button.ajax_add_to_cart_button{
    text-shadow: none;
    border:none;
}
.button.exclusive-medium{
    text-shadow: none;
}
.button.exclusive-medium span{
    border:none;
}
.columns-container{
    background:none;
}
#currencies-block-top div.current{
    text-shadow: none;
}
#languages-block-top div.current{
    text-shadow: none;
}
.sf-menu > li.sfHover > a, .sf-menu > li > a:hover, .sf-menu > li.sfHoverForce > a{
    overflow:hidden;
}
#home-page-tabs > li {
    border-left: none !important;
}
.content_scene_cat_bg{
    background-size: cover !important;
    background-position: center center !important;
}

body.rtl{
    text-align: right;
}
body.rtl .form-group{
    text-align: left;
}
body.rtl #categories_block_left li a{
    padding-right: 35px !important;
}
body.rtl #homepage-slider .homeslider-description h2{
    width:50%;
}
@media (max-width: 767px) {
    body.rtl .block .title_block, body.rtl .block h4 {
        padding-right: 40px;
    }
    body.rtl .block .title_block:after, body.rtl .block h4:after {
        right:10px;
    }
    body.rtl .footer-container #footer h4 {
        padding-right: 30px;
    }
    body.rtl .cat-title{
        padding-right: 50px;
    }
}
body.rtl ul.step li a, body.rtl ul.step li span, body.rtl ul.step li.step_current span, body.rtl ul.step li.step_current_end span{
    text-align: right;
}
body.rtl #header .shopping_cart > a:first-child:after {
    padding-left: 10px;
}
body.rtl #header .shopping_cart > a:first-child:hover:after {
    padding-left: 10px
}

body.rtl #address .form-group .form-control, body.rtl #identity .form-group .form-control, body.rtl #account-creation_form .form-group .form-control, body.rtl #new_account_form .form-group .form-control, body.rtl #opc_account_form .form-group .form-control, body.rtl #authentication .form-group .form-control{
    text-align: right;
}
body.rtl .table tbody > tr > td{
    text-align: right;
}
body.rtl .table > thead > tr > th{
    text-align: right;
}
body#cms #columns ul, body#cms #columns ol{
    margin-left: 25px;
}
ul.product_list .color-list-container ul li {
    width: 24px;
    height: 24px;
}
@media (max-width: 1199px) {
    ul.product_list .product-image-container .quick-view-wrapper-mobile {
        bottom: 9px;
        right: 9px;
    }
}
#header_link_bookmark{
    display:none;
}
ul#header_links {
margin: 10px 7px !important;
}
#subcategories ul li .subcategory-image a{
    background: #fff !important;
}
#attributes .attribute_list #color_to_pick_list li a.color_pick {
  height: 24px !important;
  width: 24px !important;
}
.button.button-medium span{
    border:none !important;
}
.hidden{
    display: none;
}
body.content_only{
    background: #fff !important;
    color: #000 !important;
}
@media (max-width: 767px) {
.pb-left-column #views_block {
    width: 100% !important;
} }
@media (max-width: 767px) {
#thumbs_list {
width: 80% !important;
} }
@media (max-width: 600px) {
  #htmlcontent_home ul li {
    width: 100% !important; } }
#htmlcontent_home ul li img {
  max-width: 100%;
  height: auto; }
  @media (max-width: 600px) {
    #htmlcontent_home ul li img {
      min-width: 100%; } }
#htmlcontent_home ul li.htmlcontent-item-5 {
  width: 66.6667%; }
  @media (max-width: 600px) {
    #htmlcontent_home ul li.htmlcontent-item-5 {
      width: 100%; } }
@media (max-width: 767px) {
    body.rtl .sf-menu > li > a {
    padding-right: 32px;
    }
}
#header.widemenu{
    padding-bottom: 0px;
}
#header.widemenu .headercontent .row{
    margin-left:0;
    margin-right:0;
}
#header.widemenu .headercontent .container{
    max-width: 100%;
    padding-right: 0;
    padding-left: 0;
}
#header.widemenu .shopping_cart{
    margin:0 auto;
    float:none;
}
#header.widemenu #header_logo img{
    margin:0 auto;
}
.footer-container.narrow, .footer-container.narrowbottom{
    max-width: 1170px;
    margin: 0px auto;
    padding: 0 20px;
    width: 100%;
}
@media (min-width: 768px){
    .footer-container.narrow, .footer-container.narrowfull{
      max-width: 750px;
    }
}
@media (min-width: 992px){
    .footer-container.narrow, .footer-container.narrowfull {
      max-width: 970px;
    }
}
@media (min-width: 1200px) {
    .footer-container.narrow {
        max-width: 1170px; 
    }
}


@media (min-width: 768px){
    .footer-container.narrowbottom, .footer-container.narrowfullbottom{
      max-width: 750px;
    }
}
@media (min-width: 992px){
    .footer-container.narrowbottom, .footer-container.narrowfullbottom {
      max-width: 970px;
    }
}
@media (min-width: 1200px) {
    .footer-container.narrowbottom {
        max-width: 1170px;
        margin-bottom: 20px;
    }
}


.footer-container.narrowfull {
        margin:0 auto;
}
@media (min-width: 1200px) {
    .footer-container.narrowfull {
        width: 95%; 
        max-width: 1500px;
    }
}
.footer-container.narrowfullbottom {
        margin:0 auto 20px;
}
@media (min-width: 1200px) {
    .footer-container.narrowfullbottom {
        width: 95%; 
        max-width: 1500px;
    }
}
#block_top_menu {
  padding-top: 0 !important;
  margin-top: 25px !important;
}
#header.widemenu #block_top_menu{
    padding: 0;
}
.productlayout{
    float:left !important;
    clear:none !important;
}
.alert-warning, .label-warning, .label-danger{
    border:none !important;
}
@media (min-width: 1200px) {
  .container.full {
    width: 95%;
    max-width: 1500px; }
}
 .container.full #htmlcontent_top {
    max-width: 500px;
}
}
@media (min-width: 1200px) {
.container.full {
        width: 95%;
        max-width: 1500px; 
    }
    .primary_block .container.full {
        margin-right: auto;
        margin-left: auto;
        padding-left: 15px;
        padding-right: 15px;
        width: auto;
    }
    .container.full #htmlcontent_top {
        max-width: 500px;
    }
}
@media (min-width: 1200px) {
    .header-container.narrow {
        max-width: 1170px; 
        margin:0 auto;
    }
    .header-container.narrow .shop-phone{
        margin-left:20px;
    }
    .header-container.narrow .shopping_cart{
        margin-right:20px;
    }
}
.header-container.narrow .container{
        width: 100%;
}
@media (min-width: 1200px) {
    .header-container.narrowtop {
        max-width: 1170px; 
        margin:20px auto 0;
    }
    .header-container.narrowtop .shop-phone{
        margin-left:20px;
    }
    .header-container.narrowtop .shopping_cart{
        margin-right:20px;
    }
}
.header-container.narrowtop .container{
        width: 100%;
}
@media (min-width: 1200px) {
    .header-container.narrowfull {
        max-width: 95%; 
        margin:0 auto;
    }
    .header-container.narrowfull .container {
        max-width: 100%;
    }
    .header-container.narrowfull .shop-phone{
        margin-left:20px;
    }
    .header-container.narrowfull .shopping_cart{
        margin-right:20px;
    }
}
@media (min-width: 1200px) {
    .header-container.normalfull .container {
        margin:0 auto;
        width: 95%; 
        max-width: 1500px;
    }
}
@media (min-width: 1200px) {
    .header-container.narrowfulltop {
        max-width: 95%; 
        margin:20px auto 0;
    }
    .header-container.narrowfulltop .container {
        max-width: 100%;
    }
    .header-container.narrowfulltop .shop-phone{
        margin-left:20px;
    }
    .header-container.narrowfulltop .shopping_cart{
        margin-right:20px;
    }
}
@media (min-width: 1200px) {
    .header-container.normalfulltop .container {
        margin:0 auto;
        width: 95%; 
        max-width: 1500px;
    }
}
ul#home-page-tabs{
    display: flex;7
    -webkit-flex: 1;
    -ms-flex: 1; 
    flex: 1;
}